input[name = logout] {
    background-color: #bd0909;
    color: white;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    cursor: pointer;

    margin-top: 15px;
    margin-right: -100px;
    height: 40px;
    width: 60%;
}

input[name = save] {
    display:block;
    background-color: rgb(0,99,255);
    color: white;
    text-align: center;
    padding: 8px;
    padding-right: 2px;
    margin-top: 15px;
    margin-left: 5vw;
    border: none;
    border-radius: 5px;
    font-family: "Trebuchet MS";
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 62vw;
}

input[name = logout]:hover, input[name = save]:hover, input[name = button]:hover {
    opacity: 0.8;
}

input[name = filename_field]:focus, input[name = tags_field]:focus, textarea[id = editor]:focus {
    border: 2px solid rgb(40, 145, 44);
    padding: 9px 10px;
}

input[name=filename_field] {
    display: block;
    float: left;

    margin-top: 4px;
    margin-bottom: 1vw;
    margin-left: 5vw;
    margin-right: 0vw;

    border: 0px black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 10px; 

    text-align: center;   
    font-family:'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;

    width: 33vw;
}

input[name=tags_field] {
    display: block;

    margin-top: 12px;
    margin-bottom: 1vw;
    margin-left: 5vw;
    margin-right: 0vw;

    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 10px; 

    text-align: center;
    font-family:'Trebuchet MS';
    font-size: 18px;
    font-style: italic;

    width: 62vw;
}

.tagbox {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 85px;
    margin-bottom: -12px;
}

input[name = recommendedTags] {
    margin: 4px;
    float:right;

    background: rgb(40, 145, 44);
    color: white;

    border: 0px black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 10px; 

    text-align: center;   
    font-family:'Trebuchet MS';
    font-size: 19px;

    cursor: pointer;

    height: auto;
    width: 5vw;
}

textarea[id=editor] {
    display: block;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 5vw;
    max-width: 62vw;
    max-height: 55vh;
    font-family: 'Trebuchet MS';
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-template-rows: 100px 1fr 20px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    justify-items: stretch;
    /* background: url("https://static.pexels.com/photos/139306/pexels-photo-139306.jpeg"); */
    background: url("http://www.psdgraphics.com/file/dark-metal-texture.jpg") no-repeat;
    background-position-y: -2vh;
    background-size: 100vw 102vh;
    margin: auto;
    padding: 0px;
    overflow-x: hidden;
}

.header1 {
    grid-row: 1 / 2;
    grid-column: 3 / 12;
    font-family: 'Trebuchet MS';
    font-size: auto;
    color: white;
    text-align: center;
    justify-self: stretch;
}

.header2 {
    grid-row: 1 / 2;
    grid-column: 10 / 12;
    margin-right: 7vw;
    font-family: 'Trebuchet MS';
    text-align: center;
    justify-self: stretch;
}

.sidebar {
    margin-top: 79px;
    overflow-y: auto;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    font-family: 'Trebuchet MS';
    background: url("https://gadgetflowcdn.com/wp-content/themes/thegadgetflow4/images/categories/random_large/all_things_wood.jpg");
    /* background: url("http://infectedhydro.com/wp-content/uploads/2016/04/Brushed-Aluminum-450x450.jpg") no-repeat; */
    justify-self: stretch;
}

input[name = button] {
    /* background: rgb(40, 145, 44); */
    background-image: url("http://infectedhydro.com/wp-content/uploads/2016/04/Brushed-Aluminum-450x450.jpg");
    /* background: url("https://gadgetflowcdn.com/wp-content/themes/thegadgetflow4/images/categories/random_large/all_things_wood.jpg"); */
    border-radius: 5px;
    color: #523A29;
    text-align: center;
    padding: 8px 10px;
    margin: 5px 0px;
    border: none;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

input[name = addbutton] {
    /* background: purple; */
    background: rgb(40, 145, 44);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 8px 10px;
    margin: 5px 0px;
    border: none;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

ul {
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

.sidebar_title {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    background: url("https://gadgetflowcdn.com/wp-content/themes/thegadgetflow4/images/categories/random_large/all_things_wood.jpg");
    /* background-image: url("http://infectedhydro.com/wp-content/uploads/2016/04/Brushed-Aluminum-450x450.jpg"); */
    text-align: center;
    font-family: 'Trebuchet MS';
    color: white;
    /* background: white; */
}
.main {
    grid-row: 2 / 4;
    grid-column: 4 / 12;
    justify-self: stretch;
}