<!DOCTYPE HTML>

<html>
  <head>
    <title>Editor</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/main.css') }}">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/editor.css') }}">
  </head>

  <body>
    <div class = "sidebar">
      <div>
        <ul>
          {% for note in notes %}
            <li class = "myList">
              <form action = "" method = "post">
                <input type = "submit" value = "{{ note.filename }}" name = "button">
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class = "main_screen">
        <form action = "{{ url_for('file_routes.save') }}" id = "content" method = "post">
            <div class = "current_note_title">
                <input type = "text" name = "filename_field" placeholder="Title" value = {{ filename }}>
            </div>
            <div class = "current_note_tag"></div>
                <!-- Pattern is regex for comma delimited list. Found here: https://stackoverflow.com/questions/18745643/how-to-write-regex-to-verify-a-comma-delimited-list-of-values --> 
                <input type = "text" name = "tags_field" pattern = "^[-\w\s]+(?:,[-\w\s]*)*$" placeholder="Enter tags:">
            </div>
            <div class = "editor_box">
                <textarea id = "editor" name = "editor">{{ file_contents }}</textarea>
            </div>
            <div class = "editor_box">
                <input type = "submit" value = "Save" name = "save">
            </div>
          </form>
          <div class = "editor_box">
              <form action = "{{ url_for('authentication.logout') }}" method = "post">
                  <input type = "submit" name = "logout" value = "Logout">
              </form>
        </div>
    </div>
  </body>
</html>
