<!DOCTYPE HTML>

<html>
  <head>
    <title>Editor</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/main.css') }}">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/editor.css') }}">
    <script type="text/javascript" src="../static/js/CollapsibleLists.js"></script>
  </head>

  <body>
    <div class = "container">

      <div class = "header1">
      </div>

      <div class = "header2">
        <form action = "{{ url_for('authentication.logout') }}" method = "post">
          <input type = "submit" name = "logout" value = "Logout">
        </form>
      </div>

      <div class = "sidebar_title">
        <h1>Saved Notes</h1>
      </div>

      <div class = "sidebar">
        <input type="text" id="searchField" onkeyup="filter()" placeholder = "Search for tags..." onblur="this.placeholder = 'Search for tags...'" onfocus="this.placeholder = ''">
        <ul class="collapsibleList">
          {% for item in tag_notes_list %}
            <li class = "tagHeader" name = "{{ item[0] }}">
              {{ item[0] }}
              {% for note in item[1] %}
                <ul class = "notesList">
                  <li class = "myList">
                    <form action = "" method = "post">
                      <input type = "submit" value = "{{ note.filename }}" name = "button">
                    </form>
                  </li>
                </ul>
              {% endfor %}
            </li>
          {% endfor %}
          <form action = "" method = "post">
            <input type = "submit" value = "+" name = "addbutton">
          </form>
        </ul>
      </div>

      <script type="text/javascript">
        CollapsibleLists.apply()
      </script>

      <script type="text/javascript">
        function filter() {
          var list = document.getElementsByClassName("collapsibleList")[0].getElementsByTagName("li");
          var query = document.getElementById("searchField").value.toLowerCase();
          for (var i = 0; i < list.length; i++) {
            if (list[i].className.indexOf('tagHeader') > -1) {
              if (list[i].getAttribute('name').toLowerCase().indexOf(query) > -1) {
                list[i].style.display = "";
              } else {
                list[i].style.display = "none";
              }
            }
          }
        }
      </script>

      <div class = "tagbox">
        {% for tag in recommended_tags %}
          <form action = "" method = "post">
            <input type = "submit" value = "{{ tag }}" name = "recommendedTags">
          </form>
        {% endfor %}
      </div>

      <div class = "main">
        <form action = "{{ url_for('file_routes.save') }}" id = "content" method = "post">
          <input type = "text" name = "filename_field" placeholder="Title" value = "{{ filename }}" >
          <!-- Pattern is regex for comma delimited list. Found here: https://stackoverflow.com/questions/18745643/how-to-write-regex-to-verify-a-comma-delimited-list-of-values --> 
          <input type = "text" name = "tags_field" pattern = "^[-\w\s]+(?:,[-\w\s]*)*$" placeholder="Manual Tags:">
          <textarea id = "editor" name = "editor">{{ file_contents }}</textarea>
          <input type = "submit" value = "Save" name = "save">
        </form>
      </div>

    </div>

  </body>
  
</html>
